/* Reset some default styles */
body{
    
    padding: 0;
    background: rgb(245,110,179);
background: linear-gradient(20deg, rgba(245,110,179,1) 0%, rgba(203,28,141,1) 50%, rgba(127,22,127,1) 100%) no-repeat;

}
 h1, p {
    margin: 0;
    padding: 0;

}

/* Style the header and navigation */


/* Style the about section */


.main-container {

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    align-items: center;
    margin-top: 40px;
}

.about-title {
    text-align:left;
}

.about-title h1 {
    font-size: 3.0rem;
    margin-bottom: 680px;
}
.about-title img{
    align-items: center;
}

/* Style the about content */
.about-content {
    width: 100%;
    text-align: left;
    line-height: 140%;
    font-weight: bold;
    color: white;
    font-size: 18.75px;
}

/* Style the footer */



#aboutUs{
    text-decoration: underline;
    color: white;
}