/* Reset some default styles */
body{
    
    padding: 0;
    background: rgb(253, 187, 221);
background: linear-gradient(20deg, rgba(245,110,179,1) 0%, rgb(223, 103, 181) 50%, rgb(238, 163, 238) 100%) no-repeat;

}
 h1, p {
    margin: 0;
    padding: 0;

}

/* Style the header and navigation */


/* Style the about section */


.main-container {

    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    align-items: center;
    margin-top: 40px;
}

.about-title {
    text-align:center;
    align-content: center;
}

.about-title h1 {
    font-size: 3.3rem;
    margin-bottom: 200px;
}
.about-title img{
    align-items: center;
    align-self: start;
    max-width: 500px;
    border-radius: 15px;
    margin-right: 50px;
    margin-bottom: 250px;
}

/* Style the about content */
.about-content {
    width: 100%;
    text-align: left;
    line-height: 140%;
    font-weight: bold;
    color: white;
    font-size: 18.75px;
}

/* Style the footer */



#aboutUs{
    text-decoration: underline;
    color: white;
}