html
  head
    title AURA BEAUTY BRAND
    style   
      include ../../public/css/home.css
    meta(name='viewport', content='width =device-width, initial-scale=1')
  body
    
    #sideNav
      nav
        ul
          li
            a(href='/') Home
          li
            a(href='#feature') Features
          li
            a(href='/cart1') Our Products
          li
            a(href='#testimonial') Testimonials
          li
            a(href='#footer') Meet Us
          li
            a(href='/about') About Us
    #manuBtn
      img#menu(src='https://t3.ftcdn.net/jpg/04/56/02/78/360_F_456027840_aOzePhpKuq4hIvr06NKBoJn9Mmo7lZV0.jpg')
    script. 
      var manuBtn = document.getElementById("manuBtn")
      var sideNav = document.getElementById("sideNav")
      var menu = document.getElementById("menu")
      sideNav.style.right = "-250px"
      manuBtn.onclick = function () {
      if (sideNav.style.right == "-250px") {
      sideNav.style.right = "0";
      menu.src = "https://media.istockphoto.com/id/857112152/vector/close-thin-line-vector-icon.jpg?s=612x612&w=0&k=20&c=gFs1EgxLxPhzgxILUCN80n8A5nN3dwhqxUmhb3hsTBE="
      menu.display.style="width:50px; height:50px;"
      }
      else {
      sideNav.style.right = "-250px";
      menu.src = "https://t3.ftcdn.net/jpg/04/56/02/78/360_F_456027840_aOzePhpKuq4hIvr06NKBoJn9Mmo7lZV0.jpg"
      }
      }